<!DOCTYPE html>
<html>
  <head>
    <title>CurrentPhase1</title>
    <%= csrf_meta_tags %>

    <!--<%= stylesheet_link_tag    "application" %>-->
    <!--<%= javascript_include_tag "application" %>-->
    <!--<#%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
